# Virtual Environment
venv/
env/
ENV/
.venv/
.env/
.ENV/
virtualenv/
.virtualenv/

# Logs
logs/
*.log
log/
.log/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
.idea/

# Environment variables
.env

# Model files (optional, uncomment if you want to exclude them)
# *.h5
# *.pkl

# OS specific files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover